<footer class="footer">
    <div class="container">
        <div class="row text-center">
            <ul>
                <li><a href="https://www.zhan666.cn"  target="_blank">{$config['SITE_NAME']}</a></li>
                <li>&nbsp;·&nbsp;</li>
                <li><a href="https://github.com/zhan11400/SincerityWiki/issues" target="_blank">意见反馈</a> </li>
                <li>&nbsp;·&nbsp;</li>
                <li><a href="https://github.com/zhan11400/SincerityWiki"  target="_blank">Github</a> </li>
            </ul>

        </div>
    </div>
</footer>