<!doctype html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发送邮件</title>
</head>
<style>
    body{width: 80%;padding: 10%}
</style>
<body>
<p>你好</p>
<p>您已发起密码重置。</p>
<p>请访问 <a href="{$url}">{$url}</a>,来完成重置密码</p>
<p>有效期一个小时，请在一小时内操作。</p>
<p>请不要用您的密码回复此电子邮件。我们永远不会要求您输入密码，我们强烈建议您不要与任何人共享密码</p>
<p>此致</p>
<p>666技术站 支持</p>
</body>
</html>
