<extend name='main'/>
<block name='title'>用户登陆-{$config['SITE_NAME']}</block>
<block name="content">
<div class="container smart-container">
    <div class="row login">
        <div class="login-body">
            <form role="form" method="post">
                <h3 class="text-center">找回密码</h3>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-at"></i>
                        </div>
                        <input type="email" class="form-control" placeholder="邮箱" name="email" id="email" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-check-square"></i>
                        </div>
                        <input type="text" name="code" id="code" class="form-control" style="width: 140px" maxlength="5" placeholder="验证码" autocomplete="off">&nbsp;
                        <img id="captcha-img" height="30" src="{:captcha_src()}" onclick="this.src='{:captcha_src()}=login&t='+(new Date()).getTime();" title="点击换一张">
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" id="btn-login" class="btn btn-success" style="width: 100%"  data-loading-text="正在发送...">找回密码</button>
                </div>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
</block>
<block name="scripts">
<script type="text/javascript">
    $(function () {
        $("#email,#code").on('focus',function () {
            $(this).tooltip('destroy').parents('.form-group').removeClass('has-error');;
        });

        $(document).keydown(function (e) {
            var event = document.all ? window.event : e;
            if(event.keyCode == 13){
                $("#btn-login").click();
            }
        });
        $("#btn-login").on('click',function () {
            var $btn = $(this).button('loading');

            var email = $.trim($("#email").val());
            var code = $.trim($("#code").val());

            if(email == ""){
                $("#email").tooltip({placement:"auto",title : "邮箱不能为空",trigger : 'manual'})
                    .tooltip('show')
                    .parents('.form-group').addClass('has-error');
                $btn.button('reset');
                return false;

            }else if(code == ""){
                $("#code").tooltip({title : '验证码不能为空',trigger : 'manual'})
                    .tooltip('show')
                    .parents('.form-group').addClass('has-error');
                $btn.button('reset');
                return false;
            }else{
                $.ajax({
                    url : "{:url('account/findPassword')}",
                    data : $("form").serializeArray(),
                    dataType : "json",
                    type : "POST",
                    success : function (res) {

                        if(res.code != 0){
                            $("#captcha-img").click();
                            $("#code").val('');
                            layer.msg(res.msg);
                            $btn.button('reset');
                        }else{
                            window.location = res.data.url;
                        }
                    },
                    error :function () {
                        $("#captcha-img").click();
                        $("#code").val('');
                        layer.msg('系统错误');
                        $btn.button('reset');
                    }
                });
            }


            return false;
        });
    });
</script>
</block>