<extend name='main'/>
<block name='title'>重置密码-{$config['SITE_NAME']}</block>
<block name="content">
<div class="container smart-container">
    <div class="row login">
        <if isset($message) && isset($title)>
        <div class="login-body" style="width: 600px;padding-top: 20px;">
            <form role="form" method="post">
                <h3 class="text-center">{$title}</h3>
                <div class="form-group text-center" style="margin-top: 50px;">
                    <p>{$message}</p>
                </div>
            </form>
        </div>
        <else/>
        <div class="login-body">
            <form role="form" method="post">
                <input type="hidden" name="token" value="{{$token}}">
                <h3 class="text-center">修改密码</h3>

                <div class="form-group">
                    <label for="newPasswd">新密码</label>
                    <input type="password" class="form-control" name="password" id="newPassword" maxlength="20" placeholder="新密码"  autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="configPasswd">确认密码</label>
                    <input type="password" class="form-control" id="confirmPassword" name="password_confirm" maxlength="20" placeholder="确认密码"  autocomplete="off">
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-check-square"></i>
                        </div>
                        <input type="text" name="code" id="code" class="form-control" style="width: 120px" maxlength="5" placeholder="验证码" autocomplete="off">&nbsp;
                        <img id="captcha-img" height="32" src="{:captcha_src()}" onclick="this.src='{:captcha_src()}=login&t='+(new Date()).getTime();" title="点击换一张">
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" id="btn-login" class="btn btn-success" style="width: 100%"  data-loading-text="正在修改...">立即修改</button>
                </div>
            </form>
        </div>
        </if>
    </div>
    <div class="clearfix"></div>
</div>
</block>
<block name="scripts">
<script type="text/javascript">
    $(function () {
        $("#newPassword,#confirmPassword,#code").on('focus',function () {
            $(this).tooltip('destroy').parents('.form-group').removeClass('has-error');;
        });

        $(document).keydown(function (e) {
            var event = document.all ? window.event : e;
            if(event.keyCode == 13){
                $("#btn-login").click();
            }
        });
        $("#btn-login").on('click',function () {
            var $btn = $(this).button('loading');

            var newPassword = $.trim($("#newPassword").val());
            var confirmPassword = $.trim($("#confirmPassword").val());
            var code = $.trim($("#code").val());

            if(newPassword == ""){
                $("#newPassword").tooltip({placement:"auto",title : "密码不能为空",trigger : 'manual'})
                    .tooltip('show')
                    .parents('.form-group').addClass('has-error');
                $btn.button('reset');
                return false;

            }else if(confirmPassword == ""){
                $("#confirmPassword").tooltip({placement:"auto",title : "确认密码不能为空",trigger : 'manual'})
                    .tooltip('show')
                    .parents('.form-group').addClass('has-error');
                $btn.button('reset');
                return false;
            }else if(newPassword != confirmPassword) {

            }else if(code == ""){
                $("#code").tooltip({title : '验证码不能为空',trigger : 'manual'})
                    .tooltip('show')
                    .parents('.form-group').addClass('has-error');
                $btn.button('reset');
                return false;
            }else{
                $.ajax({
                    url : "{:URL('account/modify_password',['key' => $token])}",
                    data : $("form").serializeArray(),
                    dataType : "json",
                    type : "POST",
                    success : function (res) {

                        if(res.code != 0){
                            $("#captcha-img").click();
                            $("#code").val('');
                            layer.msg(res.msg);
                        }else{
                            window.location = res.data.url;
                        }
                        $btn.button('reset');
                    },
                    error :function () {
                        $("#captcha-img").click();
                        $("#code").val('');
                        layer.msg('系统错误');
                        $btn.button('reset');
                    }
                });
            }


            return false;
        });
    });
</script>
</block>