<extend name='main'/>
<block name='title'>用户注册-{$config['SITE_NAME']}</block>
<block name="content">
<div class="container smart-container">
    <div class="row login">
        <div class="login-body">
            <form role="form" method="post" id="registerForm" action="{:url("account/register")}" class="">
            <h3 class="text-center">用户注册</h3>
            <div class="form-group">
                <label class="control-label">用户名</label>

                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="用户名" name="account" id="account" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">密码</label>

                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-lock"></i>
                    </div>
                    <input type="password" class="form-control" placeholder="密码" name="password" id="password"  autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">确认密码</label>

                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-lock"></i>
                    </div>
                    <input type="password" class="form-control" placeholder="确认密码" name="password_confirm" id="confirm_password"  autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">邮箱</label>

                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-envelope-open"></i>
                    </div>
                    <input type="email" class="form-control" placeholder="邮箱" name="email" id="email"  autocomplete="off">
                </div>
            </div>
            <if  $config['ENABLED_CAPTCHA']>
            <div class="form-group">
                <label class="control-label">验证码</label>

                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-check-square"></i>
                    </div>
                    <input type="text" name="code" id="code" class="form-control" style="width: 120px" maxlength="5" placeholder="验证码" autocomplete="off">&nbsp;
                    <img id="captcha-img" height="32"  src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?key=login&t='+(new Date()).getTime();" title="点击换一张">
                </div>
            </div>
            </if>

            <div class="form-group">
                <button type="submit" id="btnRegister" class="btn btn-success" style="width: 100%"  data-loading-text="正在登录..." autocomplete="off">立即登录</button>
            </div>
            <div class="checkbox">
                已有账号？<a href="{:url('account/login')}" style="display: inline-block;">立即登录</a>
            </div>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
</block>
<block name="scripts">

<script type="text/javascript">
    $(function () {
        $("#account,#password,#confirm_password,#code").on('focus',function () {
            $(this).tooltip('destroy').parents('.form-group').removeClass('has-error');;
        });

        $(document).keyup(function (e) {
            var event = document.all ? window.event : e;
            if(event.keyCode === 13){
                $("#btnRegister").trigger("click");
            }
        });
        $("#registerForm").ajaxForm({
            beforeSubmit : function () {
                var account = $.trim($("#account").val());
                var password = $.trim($("#password").val());
                var confirmPassword = $.trim($("#confirm_password").val());
                var code = $.trim($("#code").val());
                var email = $.trim($("#email").val());

                if(account === ""){
                    $("#account").focus().tooltip({placement:"auto",title : "账号不能为空",trigger : 'manual'})
                        .tooltip('show')
                        .parents('.form-group').addClass('has-error');
                    return false;

                }else if(password === ""){
                    $("#password").focus().tooltip({title : '密码不能为空',trigger : 'manual'})
                        .tooltip('show')
                        .parents('.form-group').addClass('has-error');
                    return false;
                }else if(confirmPassword !== password){
                    $("#confirm_password").focus().tooltip({title : '确认密码不正确',trigger : 'manual'})
                        .tooltip('show')
                        .parents('.form-group').addClass('has-error');
                    return false;
                }else if(email === ""){
                    $("#email").focus().tooltip({title : '邮箱不能为空',trigger : 'manual'})
                        .tooltip('show')
                        .parents('.form-group').addClass('has-error');
                    return false;
                <if $config['ENABLED_CAPTCHA']>
                }else if(code !== undefined && code === ""){
                    $("#code").focus().tooltip({title : '验证码不能为空',trigger : 'manual'})
                        .tooltip('show')
                        .parents('.form-group').addClass('has-error');
                    return false;
                </if>
                }else {

                    $("button[type='submit']").button('loading');
                }
            },
            success : function (res) {
                $("button[type='submit']").button('reset');
                if(res.code == 0){
                    window.location = "/";
                }else{
                    $("#captcha-img").click();
                    $("#code").val('');
                    layer.msg(res.msg);
                }
            }
        });
    });
</script>
</block>