<extend name='member'/>
<block name='title'>我的项目</block>

<block name='content'>
<div class="project-box">
    <div class="box-head">
        <h4>我的项目</h4>
        <if $is_can_create_project>
        <a href="{:url('project/edit')}" class="btn btn-success btn-sm pull-right" style="margin-top: 10px;">添加项目</a>
        </if>
    </div>
    <div class="box-body">
        <div class="error-message">

        </div>
        <div class="project-list">
            <ul>
                <volist name="lists" id="item">
                <li>
                    <div>
                        <div>
                            <div class="pull-left">
                                <switch name="item.project_open_state">
                                    <case value="0">
                                         <span class="hint--bottom" title="私密文档" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-lock" title="私密文档"></i>
                                        </span>
                                    </case>
                                    <case value="1">
                                         <span class="hint--bottom" title="公开文档" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-unlock" title="公开文档"></i>
                                        </span>
                                    </case>
                                    <case value="2">
                                         <span class="hint--bottom" title="加密文档" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-unlock-alt" title="加密文档"></i>
                                        </span>
                                    </case>
                                </switch>
                                <a href="{:url('document/index',['id'=>$item->project_id])}" title="编辑文档" data-toggle="tooltip" data-placement="bottom" target="_blank">{$item->project_name}</a>
                            </div>
                            <div class="pull-right">
                                <a href="{:url('index/manual',['id'=>$item->project_id])}" title="查看文档" style="font-size: 12px;" data-toggle="tooltip" data-placement="bottom"  target="_blank"><i class="fa fa-eye"></i> 查看</a>
                                <if $group_level === 0>
                                <a href="{:url('project/members',['id'=>$item->project_id])}" class="project-user-btn" title="管理文档成员" data-toggle="tooltip" data-placement="bottom"  style="font-size: 12px;"><i class="fa fa-user-plus"></i> 用户</a>
                                <a href="{:url('project/edit',['id'=>$item->project_id])}" title="编辑项目" data-toggle="tooltip" data-placement="left"  style="font-size: 12px;"><i class="fa fa-pencil"></i> 编辑</a>
                                <else/>
                                    <if $group_level != 0 && role_type==0>
                                <a href="###" class="project-quit-btn" title="退出" data-url="{{route('project.quit',['id' => $item->project_id])}}" data-toggle="tooltip" data-placement="bottom"  style="font-size: 12px;"><i class="fa fa-power-off"></i> 退出</a>
                                        <else/>
                                        <if $group_level != 0 && role_type==0>
                                 <a href="{{route('project.members',['id'=>$item->project_id])}}" class="project-user-btn" title="管理文档成员" data-toggle="tooltip" data-placement="bottom"  style="font-size: 12px;"><i class="fa fa-user-plus"></i> 用户</a>
                                 <a href="{{route('project.edit',['id'=>$item->project_id])}}" title="编辑项目" data-toggle="tooltip" data-placement="left"  style="font-size: 12px;"><i class="fa fa-pencil"></i> 编辑</a>
                                        </if>
                                    </if>
                                </if>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="desc-text">
                            <a href="{{route('document.index',['id'=>$item->project_id])}}" title="编辑文档" style="font-size: 12px;"  target="_blank">
                                {$item->description}
                            </a>


                        </div>
                        <div class="info">
                            <span title="创建时间" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-clock-o"></i>
                                {$item->create_time}</span>
                            <span style="display: inline-block;padding-left: 10px;" title="创建者" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-user"></i>
                                {$item->account}</span>

                            <span style="display: inline-block;padding-left: 10px;" title="文档数量" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-pie-chart"></i>
                                {$item->doc_count}</span>

                            <span style="display: inline-block;padding-left: 10px;" title="项目角色" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-user-secret"></i>
                                <php>
                                      if($member->group_level === 0)
                                            if(isset($item->role_type) && $item->role_type == 0)
                                                $a='参与者';
                                            elseif(isset($item->role_type) && $item->role_type == 1)
                                                $a='拥有者';
                                            else
                                             $a='超级管理员';
                                        else
                                            if($item->role_type == 0)
                                       $a='参与者';
                                            elseif($item->role_type == 1)
                                           $a='拥有者';
                                        echo $a;

                            </php>
                                    </span>

                            <span style="display: inline-block;padding-left: 10px;" title="最后编辑" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-pencil"></i>
                                最后编辑: {$item->last_document_user} 于 {$item->last_document_time}</span>

                        </div>
                    </div>
                </li>
                </volist>
            </ul>
        </div>
    </div>

</div>
<div>
    <nav>
        {$lists->render()}
    </nav>
</div>
</block>
<block name='scripts'>
    <script type="text/javascript">
        function showError($msg) {
            $("#error-message").addClass("error-message").removeClass("success-message").text($msg);
        }
        function showSuccess($msg) {
            $("#error-message").addClass("success-message").removeClass("error-message").text($msg);
        }
        $(function () {
            $("[data-toggle='tooltip']").tooltip();

            $(".project-quit-btn").on('click',function () {
                var url = $(this).attr('data-url');
                var $then = $(this);
                $then.closest('li').remove().empty();
                if(url){
                    $.post(url,{},function(res){
                        if(res.errcode === 0){
                            $then.closest('li').slideUp(200,function () {
                                $then.remove().empty();
                            });
                        }else{
                            layer.msg(res.message);
                        }
                    },'json');
                }
            });
        });

    </script>
</block>